@charset "utf-8";

:root
{

    --corFrames: #30a0a0;
    --corTextos: #f1f1f1;
    
}

body
{
    
    background-color: #35b0b0c5;
    margin: 0px;
    padding: 0px;
    
    
}

header
{
    
    background-color: var(--corFrames);
    max-width: 1800px;
    min-width: 250px;
    width: 100%;
    height: 180px;
    margin-top: -1.5%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);     

}

h1#header
{
    text-align: center;
    padding-top: 1.5%;
    color: #b6f0f0;
    font-family: Helvetica, Arial, sans-serif;    
    text-shadow: 1px 1px 0px rgb(0,0,0,0.466);    
    
}

div.container
{
    width: 100%;
    
}

div.bloco
{

    float: left;
    width: 96%;
    height: 250px;
    margin-left: 2%;
    background-color: #35b0b0c5;

}

div.resume
{
    float: left;
    width: 96%;
    height: 866px;
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 28%;
    margin-bottom: 2px;
    background-color: var(--corFrames);
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486); 
}

div.article
{
    
    float: left;
    width: 96%;
    height: 2566px;
    margin-left: 0%;        
    margin-top: 8%;
    margin-bottom: -690px;
    background-color: none;    
    
}

div.line
{
    
    display: inline-block;
    margin-left: 25%;
    margin-top: -13px;
    

}

img#cplus
{

    padding-left: 36px;
    padding-top: 25px;
}

img#html
{
    padding-left: 36px;
    padding-top: 25px;
}

p.projects
{
    padding-left: 36px;
}

@media only screen and (min-width: 769px)
{

    header
{
    
    background-color: var(--corFrames);
    max-width: 1800px;
    min-width: 250px;
    width: 100%;
    height: 100px;
    margin-top: -1.5%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);     

}

    div.resume
    {
        float: left;
        width: 27%;
        height: 766px;
        margin-left: 1%;
        margin-right: 2%;
        margin-top: 3%;
        margin-bottom: 0px;
        background-color: var(--corFrames);
        border-radius: 20px;
        box-shadow: black;
    }

    div.article
    {
        float: left;
        width: 63.5%;
        height: 766px;
        margin-left: 1%;
        margin-right: 1%;        
        margin-top: 8%;
        margin-bottom: 20px;
        background-color: none;
       
        
    }
}

div.line
{
    
    display: inline-block;
    margin-left: 25%;
    margin-top: -13px;
    

}

aside
{
    margin-top: 10px;
}

p
{
    
    font-family: Calibri, sans-serif;
    /*
    text-shadow: 1px 1px 0px rgb(0,0,0,0.466);*/
}

p.article
{
    color: var(--corTextos);
    font-size: 21px;
    text-indent: 8px;
    text-align: justify;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    
}

p.projects
{
    font-size: 18px;
    margin-left: -8px;
    
}

p.perfil
{
    color: var(--corTextos);
    font-size: 18px;
    text-indent: 8px;
    text-align: justify;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
}

p.projects
{
    
    margin-left: -23px;
    
}

p#footer
{

    font-size: 20px;
    color: var(--corTextos);
    text-align: center;

}


ul#aside
{
    
    color: var(--corTextos);      
    
}

h2
{
    color: var(--corTextos);
    text-align: center;
    text-shadow: 1px 1px 0px rgb(0,0,0,0.466);
}

h2.titulos
{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a
{
    
    text-decoration: none;
    color: var(--corTextos);
    
}

a:hover
{
    
    text-decoration: underline;
    color: rgba(255, 0, 0, 0.582);

}

img#aside
{

    padding-left: 30%;

}

li
{
    padding-top: 10px;
}

